@import './switcher.css';

.CardForm {
  box-sizing: border-box;
  width: 600px;
  min-height: 180px;
  margin: 0 auto;
  padding: 10px;

  color: white;

  border-radius: 10px;

  background-color: #282c34;
}

.CardForm-label {
  padding-bottom: 0;
}

.CardForm-fieldset {
  border-radius: 10px;
}

.controls-fieldset {
  margin-top: 10px;
}

.CardForm-field {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.CardForm-field:hover label:hover {
  cursor: pointer;
}

.CardForm-field:hover label:hover.initial-cursor {
  cursor: initial;
}

.CardForm-field__responsibility:hover input[type='checkbox'] {
  outline: 1px solid #61dafb;
}

.CardForm-label_file {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.file-input {
  width: 75%;
  margin-left: 10px;

  color: white;
}

.form-two-columns-container {
  display: flex;
}

.form-two-columns-container .CardForm-field {
  flex: 1;
}

.form-two-columns-container .CardForm-field:last-of-type {
  margin-left: 10px;
}

.controls-fieldset {
  display: flex;
  justify-content: center;
}

.button__submit {
  margin-right: 20px;
}
