@import './switcher.css';

.CardForm {
  box-sizing: border-box;
  width: 600px;
  min-height: 180px;
  margin: 0 auto;
  padding: 10px;

  color: white;

  border-radius: 10px;

  background-color: #282c34;
}

.CardForm .input-label,
.CardForm .select-label {
  padding-bottom: 0;
}

.CardForm-validation-error-message {
  padding-bottom: 5px;
}

.CardForm-fieldset {
  border-radius: 10px;
}

.controls-fieldset {
  margin-top: 10px;
}

.CardForm-field {
  display: flex;
  flex-direction: column;
}

.CardForm-field__gender,
.CardForm-field__responsibility,
.CardForm-container__file {
  user-select: none;
}

.CardForm-field__gender:hover label:hover,
.CardForm-field__responsibility:hover label:hover,
.CardForm-field__gender:hover input:hover,
.CardForm-field__responsibility:hover input:hover {
  cursor: pointer;
}

.CardForm-field__responsibility:hover input[type='checkbox'] {
  outline: 1px solid #61dafb;
}

.CardForm-field__responsibility,
.CardForm-container__file {
  display: flex;
  align-items: center;
}

.CardForm-label_file {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.file-input {
  width: 75%;
  margin-left: 10px;

  color: white;
}

.CardForm-validation-error-message {
  min-height: 22px;
  color: #ff0000;
}

.form-two-columns-container {
  display: flex;
}

.form-two-columns-container .CardForm-field {
  flex: 1;
}

.form-two-columns-container .CardForm-field:last-of-type {
  margin-left: 10px;
}

.controls-fieldset {
  display: flex;
  justify-content: center;
}

.button__submit {
  margin-right: 20px;
}
