nav {
  background-color: black;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  padding: 5px;

  color: white;
  line-height: 40px;

  text-decoration: none;
}

.navigation-link:hover {
  color: black;

  background-color: white;

  text-decoration: underline;
}

.navigation-link_active {
  color: red;
}

.current-location {
  color: white;
}
