.success-message__layout {
  position: absolute;
  top: -12px;

  width: 100%;
}

.success-message__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 50px;
  margin: 0 auto;

  border-radius: 10px;

  font-weight: bold;
  color: #282c34;

  background-color: #61dafb;
}
