body {
  margin: 0;

  font-family: 'Segoe UI', 'Oxygen', sans-serif;
}

.centralizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}
