@import './css/form.css';
@import './css/card.css';

body {
  margin: 0;

  font-family: 'Segoe UI', 'Oxygen', sans-serif;
}

.centralizer {
  max-width: 1200px;
  margin: 0 auto;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.bold-text {
  font-weight: bold;
}

.link {
  color: inherit;

  text-decoration: none;
}
