.Error-message {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100px;
  margin: 0;

  color: #fff;
  text-shadow: 2px 0 3px #d8000c;

  background-color: #282c34;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;

  z-index: -1;
}
